.content {
   text-align: center;
   font-size: inherit;
   background-color: $colorContent;
   h1{
      text-align: center;
      color: $colorBlue;
      font-size: 2em;
   }
   h3 {
      font-weight: 700;
      line-height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8em;
   }

   ul {
      font-size: 1.1em;
      text-align: left;
   }

   p {
      font-size: 1.1em;
      text-align: left;
   }
}

.call {
   width: 60px;
   height: 60px;
   fill: rgb(0, 217, 255);
}

.svg-call-dims {
   width: 200px;
}
