//Призначаю кольори проекту
$colorWhite: #fff;

$colorTemlate: #fcda9baf;
$colorContent: #b7f7f37e;

$colorBlue: #4170b4;

//Призначаю шрифти проекту
$ff: "Montserrat", sans-serif;

//Призначаю додаткові змінні проекту
// calck(minSize + (startSize - minSize)*((100vw - minWidth) / (startWidth-minWidth)))
$fz: calc(12px + (16 - 12) * ((100vw - 770px) / (1600 - 770)));


@mixin fz ($min-size: 12, $max-size: 16, $minVW: 320, $maxVW: 1440) {
   font-size: calc(#{$min-size+px} + (#{$max-size} - #{$min-size}) * ((100vw - #{$minVW+px}) / (#{$maxVW} - #{$minVW})));
}

@mixin flexMix($justify-content: center, $align-items: center) {
   display: flex;
   justify-content: $justify-content;
   align-items: $align-items;
}
