.header {
   --hh: 100px;
   position: relative;

   display: grid;
   grid-template: 
   "m-menu burger modal" var(--hh)
   /80% 1fr 1fr;

   //display: flex;
   //justify-content: center;
   //align-items: center;

   //height: var(--hh);
   font-size: inherit;
   background-color: green;
   @media (max-width: 768px) {
      display: grid;
   grid-template: 
   "m-menu burger modal" var(--hh)
   /80% 1fr 1fr;
   }
   &__main-menu{
      grid-area: m-menu;
      justify-self: start;
      display: flex;
      justify-content: space-around;
      align-items: center;

      width: 60%;
      font-size: inherit;
      @media (max-width: 768px) {
         position: absolute;
         flex-direction: column;
         justify-content: center;
         font-size: 3em;
         top: var(--hh);
         left: -110vw;
         width: 100vw;
         height: calc(100vh - var(--hh));
         background-color: $colorTemlate;
         transition: left .3s;
         &._action{
            
            left: 0;
         }
      }
      
   }
   &__burger{
      grid-area: burger;
      justify-self: end;
      align-self: center;
   }
   &__modal-btn {
      grid-area: modal;
      align-self: center;
      height: 3em;
      border-radius: 1em;
      text-transform: uppercase;

      color: $colorWhite;
      background-color: $colorBlue;
   }
}
