.modal{
   position: fixed;
   top: 100%;
   //left: 50%;
   //transform: translate(-50%, -50%);
   z-index: 999;

   width: 100vw;
   height: 100vh;

   @include flexMix();

   padding: 4%;
   
   background-color: rgba(64, 62, 59, 0.85);
   backdrop-filter: blur(3px);
   
   //! border: 6px solid transparent;
   //! background-clip: padding-box;

   cursor: pointer;
   &._action{
   position: fixed;
   top: 0;
   }
   &__content {
      position: relative;
      min-width: 10%;
      min-height: 10%;
      //background-color: rgba(64, 62, 59, 0.85);
      //border: 1px solid #fff;
      //padding: 40px;
      cursor: default;
   }
   &__close{  
      position: absolute;
      top: 0;
      right: 0;
      @include flexMix();
      //flex-direction: column;

      width: 25px;
      height: 25px;
      //padding: .5em;
      margin: .3em;

      //border-radius: 7px;
      //font-size: 14px;
      //text-transform: uppercase;s
      
      color: $colorWhite;
      
      cursor: pointer;
      &::before, &::after{
         content: '';
         position: absolute;
         display: block;
         width: 4px;
         height: 100%;
         background-color: #fff;
         border-radius: 2px;
      }
      &::before{
         transform: rotate(45deg);
      }
      &::after{
         transform: rotate(-45deg); 
      }
   }
}

.add-modal-block {
   padding: 30px;
//   position: relative;
   //@include flexMix();
//  width: 500px;
//  height: 300px;
   font-family: $ff;
   font-size: 18px;
   line-height: normal;

   color: $colorWhite;
   background: $colorContent;
  
}